.about__bio {
    float: right;
    line-height: 1.4;
    width: 100%;
    @media (min-width: 600px), (orientation: landscape) {
        width: 66%;
    }
}

.about__image {
    float: right;
    margin-left: 1em;
    width: calc(8em + 4vw);
    @media (orientation: landscape) {
        width: calc(8em + 6vw);
    }
    .alignright {
        width: 100%;
    }
    img {
        width: 100%;
    }
}

.image--no-shadow img {
    box-shadow: none;
}

.about__text {
    margin: 0.6em 0;
    text-align: right;
}

.about__intro {
    font-size: 2em;
    margin: 0.25em 0;
    @media (orientation: landscape) {
        font-size: 2.4em;
    }
}

.text--hidden {
    // I can't use .hidden otherwise it disappears even from Gutenberg
    display: none;
}

.about__clients {
    float: left;
    font-size: 0.9em;
    line-height: 1.7;
    position: relative;
    text-align: left;
    top: 3vh;
    width: 100%;
    @media (min-width: 600px), (orientation: landscape) {
        top: -5vh;
        width: 30%;
    }
}
.about__clients-title {
    font-size: 1.6em;
    margin-bottom: -0.5em;
}
