.index__header__pages,
.popup-nav__menu__pages,
#categories-nav {
    a {
        &:before {
            border-bottom-right-radius: 100px;
            border-top-left-radius: 100px; /* seems to much but it suits all screens */
            content: "";
            opacity: 0; 
            position: absolute;
            transform: rotate(-3deg);
            transition: opacity .1s ease-in, width .2s ease-in;
            width: 0%;
            z-index: -1;
        }
        &:hover:before { opacity: 1; }
    }
}



.index__header__pages,
.popup-nav__menu__pages {
    a {
        &:before {
            height: 55%;
            left: -6%;  
        }
        &:hover:before { width: 108%; }
    }

    li {
        &.current-menu-item > a:before {
            opacity: 1;
            width: 108%;
        }
    }
}
.index__header__pages { 
    a {
        &:before { 
            background: $primary-color--muted2; 
            bottom: 18%;
        }
    } 
}
.popup-nav__menu__pages { 
    a {
        &:before { 
            background: $white--transparency;
            bottom: 16%;            
            @media #{ $landscape } { bottom: 15%; }
        }
    } 
}

#categories-nav,
.popup-nav__menu__pages ul.sub-menu {
    a {
        &:before {
            height: 51%;
            left: unset; // assure transitions start from right
            right: -6%;
        }
    }
    li {
        &.current-cat a:before,
        &.current-menu-item a:before {
            opacity: 1;
        }
        // for the All category
        &.cat-item-1 a:before,
        &:first-of-type a:before { right: -25%; }

        &.cat-item-1.current-cat a:before,
        &.cat-item-1 a:hover:before,
        &:first-of-type.current-menu-item a:before,
        &:first-of-type a:hover:before { width: 120%; }
    }
}

#categories-nav {
    a {
        &:before {
            background: $gray--lighter2;
            bottom: 20%;
        }
        &:hover:before { width: 105%; }
    }

    li {
        &.current-cat a:before { width: 105%; }
    }
}

.popup-nav__menu__pages ul.sub-menu {
    a {
        &:before {
            background: $white--transparency;
            bottom: 19%;
        }
        &:hover:before { width: 106%; }
    }
    li {
        &.current-menu-item a:before { width: 106%; }
    }
}