.index__header__pages,
.popup-nav__menu__pages,
#categories-nav {
    a {
        padding: .2em .1em;
        position: relative;
        &:before {
            content: "";
            opacity: 0; 
            position: absolute;
            transition: opacity .1s ease-in, width .2s ease-in;
            width: 25%;
            z-index: -1;
        }
        &:hover:before { opacity: 1; }
    }
}

.index__header__pages,
.popup-nav__menu__pages {
    a {
        &:before {            
            border-bottom-left-radius: 200px;
            border-top-right-radius: 200px;
            bottom: 18%;
            height: 60%;
            left: -4%;              
            transform: rotate(3deg);
        }
        &:hover:before { width: 110%; }
    }
    li.current-menu-item > a:before {
            opacity: 1;
            width: 110%;
    }
}
.index__header__pages { 
    a:before { 
        background: $primary-color--muted2; 
    } 
}
.popup-nav__menu__pages { 
    a:before { 
        background: rgba(255, 255, 255, 0.25);
    }
    ul.sub-menu a:before {
        background: rgba(255, 255, 255, 0.2);
    } 
}


.popup-nav__menu__pages ul.sub-menu,
#categories-nav {
    a:before {            
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 200px;
        border-top-left-radius: 200px;            
        border-top-right-radius: 0;
        bottom: 15%;
        left: unset; // assure transitions start from right
        right: -10%;            
        transform: rotate(-7deg);
    }
}

#categories-nav {
    a {
        &:before {
            background: $gray--lighter2;
            bottom: 20%;
        }
        &:hover:before { width: 105%; }
    }
    li.current-cat a:before { 
        width: 105%; 
    }
}