.popup-nav {
    background: $primary-color; // con o senza trasparenza?
    position: fixed;
    display: inline-block;
    z-index: 10;

    a { color: white; }

    font-size: .95rem;
    @media #{ $landscape } { font-size: .9rem; }

    top: 0.5em;
    padding-top: 0px;
    height: 2.2em;    
    padding-left: 0.6em;

    opacity: 0;
    transform: translateX(-200%);            
    transition: transform 1s cubic-bezier(0,.8,.7,1), opacity .3s ease-in; // HIDING

    &.show {
        opacity: 1;
        transform: translateX(0);
        transition: height .5s cubic-bezier(.2,.6,.3,1), // CLOSING
                    transform .5s cubic-bezier(0,.8,.3,1), opacity .3s ease-in; // SHOWING
    }

    &.opened {
        top: 0;
        padding-top: 0.5em;
        height: calc(100vh - 0.5em);                
        transition: height .5s cubic-bezier(.2,.6,.3,1); // OPENING
    }


    @media #{ $landscape } {
        top: .4em;
        @media #{ $landscape--440-min-h } { top: .5em; }
        width: 10.1em;

        &.show {            
            transition: width .5s cubic-bezier(0,.7,.6,1), // CLOSING
                        transform .5s cubic-bezier(0,.8,.3,1), opacity .3s ease-in; // SHOWING
        }

        &.opened { 
            top: .4em;            
            @media #{ $landscape--440-min-h } { top: .5em; }

            height: 2.2em;
            padding-top: 0;
            width: 97vw; 

            transition: width .8s cubic-bezier(0,.7,.3,1); // OPENING

            .popup-nav__logo { margin-right: 0; } // to suits very small smartphones
        }
    }
}



.popup-nav__logo {
    float: left;
    height: 1.5em;
    padding: .35em 0;
    margin-right: .8em;
}



.popup-nav__toggler {
    vertical-align: top;
    cursor: pointer;
    float: right;
    height: 2.2em;
    width: 2em;
    margin-right: .5em;

    @media #{ $landscape--439-max-h } {
        &.opened { margin-right: 8px; } //necessary for small smartphones
    }
}



.popup-nav__toggler__hamburger {    
    position: relative;
    margin: 0 auto;

    width: 1.12em;
    height: .69em;

    span {
        display: block;
        position: absolute;
        width: 100%;
        border-radius: 1px;
        opacity: 1;
        left: 0;
        transform: rotate(0deg);        
        transition: .18s ease-in-out;
        background: white;

        &:nth-child(1) { top: 0%; }
        &:nth-child(2), 
        &:nth-child(3) { top: 50%; }
        &:nth-child(4) { top: 100%; } 

        height: .13em;
        @media #{ $landscape } { height: .12em; }
    }

    
    &.opened {

        span {

            &:nth-child(1),
            &:nth-child(4) {
                top: 11px;
                width: 0%;
                left: 50%;
            }            
            &:nth-child(2) { transform: rotate(45deg); }
            &:nth-child(3) { transform: rotate(-45deg); }
        }
    }
}



.popup-nav__menu {
    float: none;
    opacity: 0;
    position: relative;
    transform: translate(0, -200%);
    transition: transform .3s ease .05s, opacity .1s ease; // CLOSING

    font-size: 1em; 

    @media #{ $landscape } {
        font-size: .95em;
        float: right;
        height: 100%;
        transform: translate(-100%, 0);
        transition: transform .2s ease-out; // CLOSING
    }

    &.opened {
        opacity: 1;
        transform: translate(0, 0);
        transition: transform .35s cubic-bezier(0.2, 0.6, 0.3, 1), opacity .2s ease .25s; // OPENING

        @media #{ $landscape } {
            transition: transform .2s ease, opacity .1s ease .35s; // OPENING
        }
        @media #{ $landscape--440-min-h } {            
            transition: transform .2s ease, opacity .1s ease .25s; // OPENING
        }
    } 
}



.pages-nav {   
    text-align: left;
    display: block;

    margin-left: 1.2em;
    margin-top: 2.4em;
    @media #{ $portrait--440-min-w } { margin-top: 2.6em; }

    a {
        position: relative;
        padding: .32em 0;
    }

    li {
        display: block;          
        line-height: 2.6;
        @media #{ $portrait--440-min-w } { line-height: 3; }
    }    

    @media #{ $landscape } {
        display: inline-table;
        height: 100%;
        margin-top: 0;
        margin-left: 0;

        a { padding: .32em 0; }

        li { 
            display: table-cell;
            vertical-align: middle;            
            line-height: inherit;
            padding-right: 1em;

            &:last-of-type { padding-right: .8em; }

            @media #{ $landscape--440-min-h } { 
                padding-right: 1.8em;
                &:last-of-type { padding-right: 1.5em; } 
            }
            @media #{ $landscape--1440-min-w }, #{ $desktop } {
                padding-right: 1.5em;
                &:last-of-type { padding-right: 1.1em; }  
            }          
        }
    }
}



.nav-social-links {
    text-align: left;
    display: block;
    float: left;
    margin-left: .55em;

    a {  
        padding: .3em .66em;

        &:hover { opacity: 0.8; } 
    }

    li { 
        display: inline;         
        line-height: 2.6;

        &:last-of-type { margin-left: .2em; } // works only in portrait

        @media #{ $portrait--440-min-w } { line-height: 3; } 
    }


    @media #{ $landscape } {
        display: inline-table;
        float: none;
        height: 100%;
        margin-left: 0;

        a { padding: .3em .6em; }

        li { 
            display: table-cell;
            vertical-align: middle;
            line-height: inherit;
            padding-right: .2em; // margin non va con le table
            @media #{ $landscape--440-min-h } { padding-right: .7em; }
            @media #{ $landscape--1440-min-w }, #{ $desktop } { padding-right: .5em }
        }
    }
}