.index__header {

    position: relative;
    text-align: center; /* per il logo a meno del 100% */
    z-index: 3;
    margin: 0 auto; 
    margin-top: 15vh;

    font-size: 1rem;
    @media #{ $landscape--1440-min-w }, #{ $desktop } { font-size: 1.13em; }

    width: 91vw;
    @media #{ $portrait--440-min-w } { width: calc(300px + 40vw); }


    @media #{ $landscape } { 
        margin-top: 18vh;
        width: calc(200px + 30vw); 
        @media #{ $landscape--440-min-h } { width: calc(300px + 30vw); }
        @media #{ $landscape--1440-min-w }, #{ $desktop } { width: 45vw; }
    }

    a { color: black; }
}

.index__header-logo { width: 100%; }


#header-pages-nav {

    a {        
        position: relative; /* needed to correctly position the before pseudo-element */
        
        font-size: 1em;
        padding: .29em 0;

        @media #{ $landscape } { padding: .3em 0; }
    }


    li {
        display: inline;        
        margin: 0 2.1vw; // su firefox manda a capo fino a 1.9vw
    }
}


#header-social-links {

    margin: 3vh 0 5vh 0; 
    @media #{ $landscape } { margin: 4.5vh 0 8vh 0; }    

    a {        
        position: relative;
        font-size: 1.11em;
        padding: .12em .45em;

        &:hover { color: $primary-color--muted; }
    }

    li {
        display: inline;
        margin: 0 2.2vw;

        @media #{ $landscape } { margin: 0 1vw; }
    }
}


.popup-nav__menu-landscape { display: none;

    @media #{ $landscape } { display: block; }
}
.popup-nav__menu-portrait { display: block;

    @media #{ $landscape } { display: none; }
}

.popup-nav__menu-portrait {

    ul.sub-menu {
        text-align: left;
        margin-left: .9em;
        font-size: .84em;
        font-weight: 300;

        a { padding: .48em 0; }

        li { 
            display: block;
            border-left: 1px solid rgba(255, 255, 255, 0.6);
            padding-left: 1em;
            line-height: 2.6;
        }

    }
}