.index-header__pages,
.nav__menu__pages,
.index__categories {
    a {
        padding: 0.2em 0.1em;
        position: relative;
        &:before {
            content: "";
            height: 60%;
            opacity: 0;
            position: absolute;
            transition: opacity 0.1s ease-in, width 0.2s ease-in;
            width: 25%;
            z-index: -1;
        }
        &:hover:before {
            opacity: 1;
        }
    }
}

.index-header__pages,
.nav__menu__pages {
    a {
        &:before {
            border-bottom-left-radius: 200px;
            border-top-right-radius: 200px;
            bottom: 18%;
            left: -4%;
            transform: rotate(3deg);
        }
        &:hover:before {
            width: 110%;
        }
    }
    li.current-menu-item > a:before {
        opacity: 1;
        width: 110%;
    }
}

.index-header__pages {
    a:before {
        background: $primary-color--muted2;
    }
}

.nav__menu__pages {
    a:before {
        background: rgba(255, 255, 255, 0.25);
    }
    ul.sub-menu a:before {
        background: rgba(255, 255, 255, 0.2);
    }
}

.nav__menu__pages ul.sub-menu,
.index__categories {
    a {
        padding: 0.3em 0.1em;
    }
    a:before {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 200px;
        border-top-left-radius: 200px;
        border-top-right-radius: 0;
        bottom: 15%;
        left: unset; // assure transitions start from right
        right: -10%;
        transform: rotate(-6deg);
    }
}

.index__categories {
    a:before {
        background: $gray--lighter2;
    }
    li.current-cat a:before {
        opacity: 1;
        width: 110%;
    }
}
