.index__container {    
    border-top: .05em solid $primary-color;
    display: block;     
    font-size: 2.8em;
    margin: 0 auto;
    padding-top: calc(.5em + 1vh);
    position: relative;
    text-align: center;
    top: calc(.5em + 14vh);
    @media (orientation: landscape) { top: 21vh; }
    @media (min-width: 1440px) and (orientation: landscape) { top: 25vh; }
    width: 93vw;
    @media #{ $portrait--440-min-w } { width: 88vw; }
    z-index: 3; 
    @media (orientation: landscape) {        
        border-top: none;
        margin-left: 14.5vw;
        @media #{ $landscape--1440-min-w }, #{ $desktop } { margin-left: 16vw }         
        padding-top: 0;
        width: 76vw;
    }
}

.index__categories {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: .86em;
    justify-content: space-around;
    margin: 0 auto;
    max-width: 18em;
    a { 
        color: $primary-color;
    }
    @media #{ $landscape } {    
        box-sizing: border-box;       
        flex-direction: column;
        float: right; 
        font-size: .77em;  
        padding-left: 1.8vw; 
        text-align: left;   
        width: 15%;
        li { 
            border-left: .04em solid $primary-color;
            display: table;
            line-height: 2.4;
            @media #{ $landscape--1440-min-w }, #{ $desktop } { line-height: 2.5 }
            margin: 0;
            padding-left: 1.9vw;
        }
    }
    @media #{ $landscape--1440-min-w }, #{ $desktop } { 
        padding-left: 1.2vw;
        li { padding-left: 1.5vw; }
    }
    &.sticky {
        @media #{ $landscape }  {
            /* left: calc(calc(calc(76vw / 100) * 85) + 14.5vw); */
            left: 79.1vw;
            /* left: calc(calc(calc(76vw / 100) * 85) + 16vw); */
            @media #{ $landscape--1440-min-w }, #{ $desktop } { left: 80.6vw; }
            position: fixed;
            top: calc(3.14em + 2vh); // circa nav.top + nav.height + 2vh
        }
    }
}

.posts-container {     
    margin: 0 auto;
    margin-top: calc(.5em + 1.6vh);
    width: 94%;
    @media #{ $portrait--440-min-w } { width: 90%; }
    @media #{ $landscape } {
        float: left;
        margin-top: 0;
        width: 85%;
    }
}

#page-counter { 
    font-size: .88em;    
    margin: 5vh auto 0 auto; 
    width: 40vw;
    @media #{ $portrait--440-min-w } { width: 32vw; }
    @media #{ $landscape } { width: 26vw }
    @media #{ $landscape--440-min-h } { width: 18vw; }

    #load-more {
        cursor: pointer;
        color: $primary-color;
        font-weight: 300;

        &:hover { color: $primary-color--muted; }

        &.loading { cursor: default; }

        #text { 
            height: 2em; // avoid jumps
            display: block; }
        #text.hidden { display: none; }

        #text-completed { 
            color: #777; 
            font-size: .6em;
            display: none;
            height: 3.333em; // avoid jumps
            &.show { display: block; }
        }
    }
}