.index-header {
    font-size: 2.8em;
    margin: 0 auto;
    padding: 0 16px;
    text-align: center;
    margin-top: 12.5vh;
    @media (min-width: 440px) {
        width: 16em;
    }
    @media (min-height: 600px) and (orientation: landscape) {
        margin-top: calc(0.5em + 15.5vh);
    }
    @media (min-width: 1280px) and (orientation: landscape) {
        width: 19em;
    }
    @media (min-width: 1440px) and (orientation: landscape) {
        font-size: 3.7em;
        margin-top: calc(0.5em + 17vh);
    }
    z-index: 3;
    a {
        color: black;
    }
}

.index-header__logo {
    width: 100%;
}

.index-header__socials {
    font-size: 1.15em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: calc(0.5em + 2.5vh) 0 calc(0.5em + 3.5vh);
    @media (min-width: 1440px) and (orientation: landscape) {
        font-size: 1.05em;
        margin: calc(0.5em + 3.5vh) 0 calc(0.5em + 5.5vh);
    }
    li {
        margin: 0 0.5em;
    }
    a {
        padding: 0 0.4em 0.1em;
        &:hover {
            color: $primary-color--muted;
        }
    }
}

.index-header__pages {
    font-size: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
