.index__main {
    border-top: 0.05em solid $primary-color;
    font-size: 2.8em;
    margin: 0 auto;
    padding-top: calc(0.5em + 1vh);
    position: relative;
    text-align: center;
    top: calc(0.5em + 14vh);
    width: 93vw;
    @media (min-width: 600px) {
        width: 88vw;
    }
    z-index: 3;
    @media (orientation: landscape) {
        border-top: none;
        margin-right: 0.5em;
        padding-top: 0;
        top: calc(0.5em + 15.5vh);
        width: 88vw;
    }
    @media (min-height: 600px) and (orientation: landscape) {
        margin-right: calc(0.5em + 1vw);
        top: calc(0.5em + 20.5vh);
    }
    @media (min-width: 1440px) and (orientation: landscape) {
        top: calc(0.5em + 23vh);
        width: 90vw;
    }
}

.index__categories {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 0.86em;
    justify-content: space-around;
    margin: 0 auto;
    max-width: 18em;
    width: 100%;
    a {
        color: $primary-color;
    }
    @media (orientation: landscape) {
        border-left: 0.05em solid $primary-color;
        float: right;
        flex-direction: column;
        font-size: 0.77em;
        max-width: 5.2em;
        text-align: left;
        li {
            line-height: 2.4;
            padding-left: 0.6em;
        }
    }
    @media (min-height: 600px) and (orientation: landscape) {
        li {
            line-height: 2.5;
            padding-left: 0.8em;
        }
    }
    @media (min-width: 1440px) and (orientation: landscape) {
        font-size: 0.87em;
    }
    &.sticky {
        @media (orientation: landscape) {
            right: 1.4rem;
            position: fixed;
            top: calc(3.024em + 2vh); // circa nav.top + nav.height + 2vh
        }
        @media (min-height: 600px) and (orientation: landscape) {
            right: calc(1.4rem + 1vw);
        }
    }
}

.index__posts {
    margin: 0 auto;
    position: relative;
    top: calc(0.5em + 2.2vh);
    width: 94%;
    @media (min-width: 600px) {
        width: 90%;
    }
    @media (orientation: landscape) {
        margin-right: 0;
        right: 4.8em;
        top: 0;
        width: 78%;
    }
    @media (min-width: 1440px) and (orientation: landscape) {
        right: 5.8em;
    }
}

.infinite-loader {
    font-size: 0.88em;
    margin: 0 auto;
    position: relative;
    top: calc(0.5em + 2vh);
    width: 40vw;
    @media (min-width: 600px) {
        width: 32vw;
    }
    @media (orientation: landscape) {
        width: 26vw;
    }
    @media (min-height: 600px) and (orientation: landscape) {
        width: 18vw;
    }
}
.infinite-loader__container {
    cursor: pointer;
    color: $primary-color;
    font-weight: 300;
    &:hover {
        color: $primary-color--muted;
    }
    &.loading {
        cursor: default;
    }
}
.infinite-loader__text {
    height: 2em; // avoid jumps
    display: block;
}
.infinite-loader__text--completed {
    color: #777;
    font-size: 0.6em;
    height: 3.333em; // avoid jumps
    line-height: 1.15;
}

.home .footer {
    flex-grow: unset;
    top: calc(0.5em + 22vh);
}
