.index-container {

    position: relative;
    text-align: center;
    margin: 0 auto;
    z-index: 3;
    display: block;    

    margin-top: 3vh; //top: 18vh;
    padding-top: 2.2vh;
    width: 93vw;
    @media #{ $portrait--440-min-w } { width: 88vw; }
    border-top: 1px solid $primary-color;

    font-size: 1rem;

    @media #{ $landscape } {
        margin-left: 14.5vw;
        @media #{ $landscape--1440-min-w }, #{ $desktop } { margin-left: 16vw }
        margin-top: 8vh;
        @media #{ $landscape--440-min-h } { margin-top: 5.8vh; }  
        padding-top: 0;
        width: 76vw;
        border-top: none;
    }
}



/* 
 * PORTRAIT FIRST -> inline layout
 * LANDSCAPE -> side layout through media queries with flexbox
 */
#categories-nav {

    text-align: center; 
    font-size: .86rem;

    a { 
        color: $primary-color; 
        position: relative;
        padding: .48em 0;
    }

    li {
        display: inline;
        margin: 0 2.7vw;
        // less if we add the wedding cathegory
        @media #{ $portrait--440-min-w } { margin: 0 3.6vw; }
        border: none;
        line-height: normal;
        padding: 0;
    }
    
    
    @media #{ $landscape } {        
        width: 15%;
        float: right;
        box-sizing: border-box;

        text-align: left;
        padding-left: 1.8vw;   
        font-size: .77rem;

        li { 
            display: table;
            border-left: .04em solid $primary-color;
            margin: 0;
            padding-left: 1.9vw;
            line-height: 2.4;
            @media #{ $landscape--1440-min-w }, #{ $desktop } { line-height: 2.5 }
        }
    }
    @media #{ $landscape--1440-min-w }, #{ $desktop } { 
        padding-left: 1.2vw;
        li { padding-left: 1.5vw; }
    }


    &.sticky {
        @media #{ $landscape }  {
            position: fixed;
            top: calc(3.14em + 2vh); // circa nav.top + nav.height + 2vh
            /* left: calc(calc(calc(76vw / 100) * 85) + 14.5vw); */
            left: 79.1vw;
            /* left: calc(calc(calc(76vw / 100) * 85) + 16vw); */
            @media #{ $landscape--1440-min-w }, #{ $desktop } { left: 80.6vw; }
        }
    }
}


.posts-container {     
    margin: 0 auto;
    margin-top: 3.4vh;
    width: 94%;

    @media #{ $portrait--440-min-w } { width: 90%; }

    @media #{ $landscape } {
        margin-top: 0;
        width: 85%;
        float: left;
    }
}


#page-counter { 
    margin: 5vh auto 0 auto; 
    width: 40vw;
    @media #{ $portrait--440-min-w } { width: 32vw; }
    @media #{ $landscape } { width: 26vw }
    @media #{ $landscape--440-min-h } { width: 18vw; }

    font-size: .88em;    

    #load-more {
        cursor: pointer;
        color: $primary-color;
        font-weight: 300;

        &:hover { color: $primary-color--muted; }

        &.loading { cursor: default; }

        #text { 
            height: 2em; // avoid jumps
            display: block; }
        #text.hidden { display: none; }

        #text-completed { 
            color: #777; 
            font-size: .6em;
            display: none;
            height: 3.333em; // avoid jumps
            &.show { display: block; }
        }
    }
}