.index__header {
    font-size: 2.8em;
    margin: 0 auto; 
    position: relative;
    text-align: center;    
    top: 12.5vh;
    width: 100%;
    @media (min-width: 440px) { width: 16em } // or 600px?
    z-index: 3;
    @media (min-width: 1440px) and (orientation: landscape) {
        font-size: 3.8em; 
        top: 18vh;
        width: 20em; 
    }
    a { 
        color: black; 
    }
}

.index__header__logo { width: 100%; }

.index__header__socials {
    font-size: 1.2em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 1em 0 1.25em;
    @media (min-width: 1440px) and (orientation: landscape) {
        font-size: 1.1em;
        margin: 1.25em 0 1.5em;
    }
    li { 
        margin: 0 .5em; 
    }
    a {        
        padding: 0 .4em .1em;
        &:hover { color: $primary-color--muted; }
    }
}

.index__header__pages {
    font-size: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;    
    li { 
        margin: .15em .3em; 
    }
    a { // to position and size the before pseudo-elements
        padding: .3em 0;
        position: relative;
    }
}