/* 
 * I N D E X   S I Z E:
 * 2 columns for portrait
 * 3 columns for landscape and for portrait > 1024px wide
 * 4 columns for landscape > 1920px wide
 */
.grid__item {
    margin-bottom: 6%;
    width: calc(95% / 2);
    @media (orientation: landscape), (min-width: 1024px) and (orientation: portrait) {
        margin-bottom: 3.7%;
        // 100 - 2gutter
        width: calc(94% / 3);
    }
    @media (min-width: 1920px) and (orientation: landscape) {
        margin-bottom: 2.7%;
        // 100 - 3gutter
        width: calc(94% / 4);
    }
}

.gutter-sizer {
    width: 5%; // S
    @media (orientation: landscape), (min-width: 1024px) and (orientation: portrait) {
        width: 3%; // M
    }
    @media (min-width: 1920px) and (orientation: landscape) {
        width: 2%; // L
    }
}

/*
 * S I N G L E   S I Z E:
 * 2 columns for portrait ( S )
 * 6 columns unit bootstrap-like for landscape and for portrait > 1024px wide ( M )
 * 12 columns unit bootstrap-like for landscape > 1920px wide ( L )
 */
.single .grid__item {
    width: calc(95% / 2);
    @media (orientation: landscape), (min-width: 1024px) and (orientation: portrait) {
        // 100 - 5gutter
        width: calc(85% / 6);
    }
    @media (min-width: 1920px) and (orientation: landscape) {
        // 100 - 11gutter
        width: calc(78% / 12);
    }
}

.single .col-2-s {
    width: 100%;
}

.single .col-2-m {
    @media (orientation: landscape), (min-width: 1024px) and (orientation: portrait) {
        // 85% / 6 * 2 + 1gutter
        width: 31.3%;
    }
}

.single .col-3-m {
    @media (orientation: landscape), (min-width: 1024px) and (orientation: portrait) {
        // 85% / 6 * 3 + 2gutter
        width: 48.5%;
    }
}

.single .col-4-m {
    @media (orientation: landscape), (min-width: 1024px) and (orientation: portrait) {
        // 85% / 6  * 4 + 2gutter
        width: 65.6%;
    }
}

.single .col-6-m {
    @media (orientation: landscape), (min-width: 1024px) and (orientation: portrait) {
        width: 100%;
    }
}

.single .col-3-l {
    @media (min-width: 1920px) and (orientation: landscape) {
        // 78% / 12 * 3 + 2gutter
        width: 23.5%;
    }
}

.single .col-4-l {
    @media (min-width: 1920px) and (orientation: landscape) {
        // 78% / 12 * 4 + 3gutter
        width: 32%;
    }
}

.single .col-6-l {
    @media (min-width: 1920px) and (orientation: landscape) {
        // 78% / 12 * 6 + 5gutter
        width: 49%;
    }
}

.single .col-8-l {
    @media (min-width: 1920px) and (orientation: landscape) {
        // 78% / 12 * 8 + 7gutter
        width: 66%;
    }
}
