.main--page {
    background: rgba($color: #fff, $alpha: 0.5);
    overflow: auto;
    a {
        color: $primary-color;
        font-family: "Playfair Display", serif;
        font-size: 1.1em;
        font-weight: 700;
        &:hover {
            color: $primary-color--muted;
        }
    }
}

.main--page__content {
    font-size: 0.6em;
}

.main--page__title {
    z-index: 2;
    &:before {
        background: $primary-color--muted2;
        border-bottom-left-radius: 200px;
        border-top-right-radius: 200px;
        bottom: -3%;
        content: "";
        height: 80%;
        left: -6%;
        position: absolute;
        transform: rotate(3deg);
        width: 110%;
        z-index: -1;
    }
}
