body.single,
body.page,
body.error404 {
    // to push the footer down if content isn't enough
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main {
    box-sizing: border-box;
    flex-grow: 1;
    font-size: 2.8em;
    margin: 0 auto;
    max-width: 88vw;
    position: relative;
    margin-top: calc(0.5em + 10vh);
    width: calc(20em + 20vw);
}

.main--slim {
    width: calc(20em + 10vw);
}

.main--slimmer {
    width: 20em;
    @media (min-width: 600px) {
        max-width: 75vw;
    }
}

.main__title {
    float: right;
    font-size: 2em;
    position: relative;
}

.main__content {
    clear: both;
    position: relative;
    top: calc(0.5em + 2vh);
    .wp-block-image img {
        min-width: 100%;
        min-height: 100%;
        height: auto;
    }
    .wp-block-image img[data-sizes="auto"] {
        display: block;
        width: 100%;
    }
}
