.main--404 {
    text-align: center;
    margin-top: calc(0.5em + 20vh);
    @media (min-width: 1440px) and (orientation: landscape) {
        margin-top: calc(0.5em + 23vh);
    }
}

.main--404__content {
    top: 0.5em;
}

.main--404__title {
    color: $primary-color;
}

.main--404__text {
    font-size: 0.7em;
    line-height: 1.35;
}
