.single__header {
    display: flex;
    flex-direction: column;
}

.single__subheader {
    font-size: 1em;
    font-variant-caps: all-small-caps;
    font-weight: 200;
    a,
    button {
        color: $primary-color;
        cursor: pointer;
        font-variant-caps: normal;
        font-weight: 300;
        &:hover {
            color: $primary-color--muted;
        }
    }
}

.single__category {
    float: right;
    padding: 0.2em 0.1em;
    position: relative;
    &:before {
        background: $gray--lighter2;
        border-bottom-right-radius: 200px;
        border-top-left-radius: 200px;
        bottom: 0;
        content: "";
        height: 80%;
        position: absolute;
        right: -8%;
        transform: rotate(-4deg);
        width: 110%;
        z-index: -1;
    }
}

.single-nav {
    font-size: 0.9em;
    padding: 0 0.5em;
    position: relative;
}

.single-nav__item {
    line-height: 1.15;
    position: relative;
    max-width: 35vw;
}
.single-nav__arrow {
    position: relative;
    top: 2.15em;
    width: 1.2em;
}

@mixin single-nav--direction($direction) {
    .single-nav__item--#{$direction} {
        float: $direction;
        text-align: $direction;
    }
    .single-nav__arrow--#{$direction} {
        #{$direction}: calc(-1em - 2vw);
    }
}

@include single-nav--direction(left);

@include single-nav--direction(right);
